@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Karla+Tamil+Upright:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "arvo";
}
header{
    background-image: url(/assets/bgHeader.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 56vw;
    margin: 0 auto;
    padding: 0;
    background-size: 100%;
    font-family: "arvo";
}

/* Pagina 1 */

.n1 h1{ 
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff8940;
    font-size: 420%;
    

}
.n1 h2{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 175%;
    font-weight: normal;
}

/* Pagina 2 */
.n2{
    display: flex;
    align-items: center;
    margin-top: 6%;
}

.n2 img{
    padding: 100px;
    margin-right: 140px;
    
}
.n2 h2{
    font-size: 420%;
    line-height: 140%;
    color: #ff8940;

}
.n2 p{
    font-size: 26px;
    line-height: 150%;
    margin-top: 4%;
}
.texto{
    display: flex;
    flex-wrap: wrap;
    padding: 110px;
    margin-left: 6%;
}

/* Pagina 3 */

.n3{
    display: flex;
}
.n3 img{
    padding: 250px;
}
